{% extends 'core/base.html' %}
{% load static %}
{% block title %} About {% endblock title %}


{% block banner-slider %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'core/images/banner/b1.png' %}" class="d-block w-100 img-fluid" style="max-height:400px" alt="..." >
        </div>
        <div class="carousel-item">
            <img src="{% static 'core/images/banner/b2.png'%}" class="d-block w-100 img-fluid" style="max-height:400px" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'core/images/banner/b3.png' %}" class="d-block w-100 img-fluid" style="max-height:400px" alt="...">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock banner-slider %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <h2 class="text-center">About Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">
                Welcome to our pet-loving community! We are passionate individuals dedicated to providing a platform where pet enthusiasts can connect, explore, and find their perfect companions. Our mission is to create a vibrant and inclusive community that celebrates the joy and love that pets bring to our lives.

                At our core, we believe that every pet deserves a loving home and that the bond between humans and animals is truly special. We strive to foster an environment where pet owners, animal lovers, and aspiring pet parents can come together to share their experiences, knowledge, and support.
            </p>
        </div>

        <br><br>

        <h2 class="text-center">What Inspires Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">
                Our inspiration comes from the profound impact that pets have on our lives. The unconditional love, companionship, and joy they bring are unparalleled. We are inspired by the countless stories of pets transforming lives, providing comfort during difficult times, and becoming cherished members of families.

                We are also inspired by the incredible resilience and beauty of nature. The diversity of animal species and the intricate ecosystems they inhabit remind us of the importance of preserving and protecting our natural world. Through our platform, we aim to raise awareness about animal welfare, promote responsible pet ownership, and support initiatives that contribute to the well-being of animals.
            </p>
        </div>

        <br><br>

        <h2 class="text-center">Our Pet Culture</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">
                At our core, we embrace a pet-centric culture that revolves around compassion, care, and education. We believe in promoting the well-being and happiness of pets through responsible ownership, proper nutrition, regular exercise, and veterinary care.

                We strive to provide a safe and inclusive space for pet enthusiasts to share their knowledge, seek advice, and engage in meaningful discussions. Our community is built on mutual respect, empathy, and a shared love for animals.

                Join us in celebrating the wonders of the animal kingdom, connecting with fellow pet lovers, and discovering the endless joy that comes with being a part of the pet community.

                Together, let's create a world where every pet is loved, cherished, and given the opportunity to thrive!
            </p>
        </div>
        <br><br>
    </div>
{% endblock main-content %}
