{% extends 'core/base.html' %}
{% load static %}
{% block title %} Category {% endblock title %}


{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="list-group">
                    {% for breed in breeds %}
                        <a href="{% url 'category-breed' category breed %}" class="list-group-item list-group-item-action " aria-current="true">{{breed}}</a>
                    {% endfor %}
                    <a href="{% url 'category' category %}" class="list-group-item list-group-item-action " aria-current="true">All</a>
                </div>
            </div>

            <div class="col-sm-9">
                <div class="row">
                    {% for pet in pets %}
                    <div class="col text-center mb-4">
                        <a href="{% url 'pet-details' pet.id %}" class="btn">
                            <div>
                                <img src="{{pet.pet_image.url}}" width="300px" height="200px"/>
                                <div class="fw-bold">{{pet.name}}</div>
                                <div class="fw-bold text-danger">${{pet.price}}</div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}
