{% extends 'core/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

<!-- {% block welcom %}
<h1>Welcome to Pet Frenzy!</h1>
{% endblock welcom %} -->

{% block banner-slider %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'core/images/banner/b1.png' %}" class="d-block w-100" alt="..." >
        </div>
        <div class="carousel-item">
            <img src="{% static 'core/images/banner/b2.png'%}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'core/images/banner/b3.png' %}" class="d-block w-100" alt="...">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock banner-slider %}

{% block info %}
<div class="container">
    <div class="row bg-primary text-center p-5 text-white border-bottom shadow">
        <h2>Discover a World of Pets</h2>
        <p>Explore our extensive collection of pets available for adoption. Whether you're looking for a playful puppy, a cuddly kitten, or a loyal companion, we have a wide variety of pets waiting for their forever homes.</p>
    </div >
</div>
{% endblock info %}

{% block main-content %}
<div class="container">
    <h2 class="text-center">Furry Friends</h2>
    <br>
    <div class="row container">
        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" dat-wow-delay="0.6s"
        style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
            <div class="">
                <a href="{% url 'category' 'DG' %}">
                    <div class="text-center goodnessseccont">
                        <img src="{% static 'core\images\product\dog1.png' %}" class="img-responsive" alt="..." >
                        <p class="mlkpro">Dog</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" dat-wow-delay="0.6s"
        style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
            <div class="">
                <a href="{% url 'category' 'DG' %}">
                    <div class="text-center goodnessseccont">
                        <img src="{% static 'core\images\product\dog1.png' %}" class="img-responsive" alt="..." >
                        <p class="mlkpro">Dog</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" dat-wow-delay="0.6s"
        style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
            <div class="">
                <a href="{% url 'category' 'DG' %}">
                    <div class="text-center goodnessseccont">
                        <img src="{% static 'core\images\product\dog1.png' %}" class="img-responsive" alt="..." >
                        <p class="mlkpro">Dog</p>
                    </div>
                </a>
            </div>
        </div>


    </div>
    <div class="row container">
        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" dat-wow-delay="0.6s"
        style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
            <div class="">
                <a href="{% url 'category' 'CT' %}">
                    <div class="text-center goodnessseccont">
                        <img src="{% static 'core\images\product\dog1.png' %}" class="img-responsive" alt="..." >
                        <p class="mlkpro">Dog</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" dat-wow-delay="0.6s"
        style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
            <div class="">
                <a href="{% url 'category' 'CT' %}">
                    <div class="text-center goodnessseccont">
                        <img src="{% static 'core\images\product\dog1.png' %}" class="img-responsive" alt="..." >
                        <p class="mlkpro">Dog</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" dat-wow-delay="0.6s"
        style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
            <div class="">
                <a href="{% url 'category' 'CT' %}">
                    <div class="text-center goodnessseccont">
                        <img src="{% static 'core\images\product\dog1.png' %}" class="img-responsive" alt="..." >
                        <p class="mlkpro">Dog</p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock main-content %}
