{% extends 'core/base.html' %}
{% load static %}
{% block title %} Password Reset Confirmed{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-5">
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Reset Completed!!!</h3>
            <p> Click <a href="{% url 'login' %}" class="text-primary">here</a> to login. </p>
            <hr>
            <div>
                <iframe src="https://giphy.com/embed" width="200" height="200" frameborder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
