{% extends 'core/base.html' %}
{% load static %}
{% block title %} Sales {% endblock title %}

{% block main-content %}
<div class="container  my-5">
    <div class="row">
        <h3>Welcome, <span class="text-capitalize">{{request.user}}!</span></h3>

        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'sell' %}" class="btn btn-primary">List a new Pet</a></li>
            </ul>
        </div>

        <div class="col-sm-9 offset-sm-1">
            <div class="row">
                {% if listed_pets %}
                {% for pet in listed_pets %}
                    <div class="col-sm-2">
                        <a href="{% url 'pet-details' pet.pet.id %}" class="btn">
                        <img src="{{pet.pet.pet_image.url}}" class="img-fluid img-thumbnail" height="100" width="100"/>
                        </a>
                    </div>
                    <div class="col-sm-7">
                        <p>Pet: {{pet.pet.name}} </p>
                        <p>Price: {{pet.pet.price}}
                    </div>
                    <div class="col-sm-3">
                        <p>Pet Status: {{pet.status}}
                        {% if pet.status == "Listed" %}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:  30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        {% endif %}

                        {% if pet.status == "Added to Cart" %}
                        <div class="progress">
                            <div class="progress-ba bg-warning" role="progressbar" style="width:  70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        {% endif %}

                        {% if pet.status == "Sold" %}
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width:  100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        {% endif %}

                        {% if pet.status == "Order Cancelled" %}
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width:  100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        {% endif %}

                        {% if pet.status == "Pending" %}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:  0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% else %}
                <h2>You haven't listed any pet for sale yet!</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
